<div>
  <div>
    <h1>
      List of Parties
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <table border="1">
      <tr>
        <th>
        Party Name
        </th>
        <th>
          Number of candidates
        </th>
        <th>
          Number of winners
        </th>
         <th>
          Winning percentage
        </th>
        

        <th>
        </th>
      </tr>

      <% @list_of_parties.each do |a_party| %>
      <tr>
        <td>
          <%= a_party.name %>
        </td>

        <td>
        <%= a_party.vacancy_candidates.count %>
        </td>

        <td>
          <%= a_party.vacancy_candidates %>
        </td>

        <td>
          
        </td>
        <td>
          <a href="/parties/<%= a_party.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
