<div>
  <div>
    <h1>
      List of Parties
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <table border="1">
      <tr>
        <th>
        Party Name
        </th>
        <th>
          Number of candidates
        </th>
        <th>
          Number of winners
        </th>
         <th>
          Winning percentage
      
        </th>
      </tr>

      <% @list_of_parties.each do |a_party| %>
      <tr>
        <td>
          <%= a_party.name %>
        </td>

        <td>
        <%= a_party.vacancy_candidates.count %>
        </td>

        <td>
          <%= a_party.vacancy_candidates.where("total_percentage > ?", 50).count %>
        </td>

        <td>
          <% total_candidates = a_party.vacancy_candidates.count %>
          <% candidates_above_50 = a_party.vacancy_candidates.where("total_percentage > ?", 50).count %>
          <% percentage_above_50 = total_candidates > 0 ? (candidates_above_50.to_f / total_candidates * 100).round(2) : 0 %>
          <%= percentage_above_50 %>%

        </td>
        
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
