<div>
  <div>
    <h1>
      List of all election subcircuits
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new election subcircuit
    </h2>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Election
        </th>

        <th>
          Subcircuit
        </th>

        <th>
        
        </th>

        <th>
        
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_election_subcircuits.each do |an_election_subcircuit| %>
      <tr>
        <td>
          <%= an_election_subcircuit.id %>
        </td>

        <td>

        </td>

        <td>
        <% matching_subcircuits = Subcircuit.where({ :id => an_election_subcircuit.subcircuit_id }) %>
      
        <% the_subcircuit = matching_subcircuits.at(0) %>

        <%= the_subcircuit.number %>
        
        </td>
        <td>
    
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
