<div>
  <div>
    <h1>
      Election to replace Judge  <%= @the_vacancy.name %>
    </h1>

    <div>
      <div>
        <a href="/vacancies">
          Go back
        </a>
      </div>

    <dl>
    <dt>
      Year
      </dt>
      <dd>
        <%= @the_vacancy.election_subcircuit.election.year %>
      </dd>
      <dt>
        Subcircuit
      </dt>
      <dd>
        <%= @the_vacancy.election_subcircuit.subcircuit.number %>
      </dd>
      <dt>
      Winning candidate name
      </dt>
      <dd>
         Insert
      </dd>
      <dt>
      Winning candidate party
      </dt>
      <dd>
      Insert
      </dd>
      <dt>
      Winning candidate votes won (Chicago)
      </dt>
      <dd>
      Insert
      </dd>
      <dt>
      Winning candidate votes won (Suburbs)
      </dt>
      <dd>
      Insert
      </dd><dt>
      Winning candidate votes won (Total)
      </dt>
      <dd>
      Insert
      </dd>
      <dt>
      Winning candidate percentage
      </dt>
      <dd>
      Insert
      </dd>
      Losing candidate name
      </dt>
      <dd>
      Insert
      </dd>
      <dt>
      Losing candidate party
      </dt>
      <dd>
      Insert
          <dt>
      Losing candidate votes won (Chicago)
      </dt>
      <dd>
      Insert
      </dd>
      <dt>
      Losing candidate votes won (Suburbs)
      </dt>
      <dd>
      Insert
      </dd><dt>
      Losing candidate votes won (Total)
      </dt>
      <dd>
      Insert
      </dd>
      
    </dl>
  </div>
</div>

<hr>
