<div>
  <div>
    <h1>
      List of all elections
    </h1>
  </div>
</div>

<hr>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Year
        </th>

        <th>
          Number of judicial elections
        </th>

      </tr>

      <% @list_of_elections.each do |an_election| %>
      <tr>

        <td>
          <%= an_election.year %>
        </td>
        <td>
          <%= an_election.election_subcircuits.count %>
        </td>
      
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
