<div>
  <div>
    <h1>
      List of all candidates
    </h1>
  </div>
</div>
<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          First name
        </th>

        <th>
          Last name
        </th>

        <th>
          Party 
        </th>

        <th>
          Election Year
        </th>

        <th>
        Won?
        </th>
        
        <th>
        
        </th>
      </tr>

      <% @list_of_candidates.each do |a_candidate| %>
      <tr>

        <td>
          <%= a_candidate.first_name %>
        </td>

        <td>
          <%= a_candidate.last_name %>
        </td>

        <td>
         ?
        </td>
         
        <td>
          ?
         </td>
         
        <td>
         <%= a_candidate.last_name %>
        </td>

        <td>
          <a href="/candidates/<%= a_candidate.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
