<div>
  <div>
    <h1>
      Subcircuit List
    </h1>
  </div>
</div>

<hr>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Subcircuit Number
        </th>

        <th>
        Number of elections (2018 to 2020)
        </th>

      </tr>

      <% @list_of_subcircuits.each do |a_subcircuit| %>
      <tr>

        <td>
        Subcircuit <%= a_subcircuit.number %>
        </td>
        <td>
        <%= a_subcircuit.elections.count %>
        </td>
        
      
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
