<div>
  <div>
    <h1>
      Subcircuit <%= @the_subcircuit.id %> Election Details
    </h1>

<table border="1">
  <tr>
    <th>
      Election Year
    </th>

    <th>
      Vacancy   
    </th>

    <th>
      Winning Candidate
    </th>

    <th>
      Party
    </th>
    
    <th>
      Chicago Votes
    </th>

    <th>
      Suburban Votes
    </th>

    <th>
    Total Votes
    </th>

    <th>
      Losing Candidate
    </th>

    <th>
      Party
    </th>
    
    <th>
      Chicago Votes
    </th>

    <th>
      Suburban Votes
    </th>

    <th>
    Total Votes
    </th>
  </tr>

  <%=@the_subcircuit.id.election_subcircuit %>
  

 <tr>
    <td>
      
    </td>
